
.grid-layout{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

.quote{
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.content {
    justify-self: center;
    width: 80vw;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-gap: 20px;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.logo{    
    height: 500px;    
}


.first{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


@media (max-width:900px){
    .content {
        grid-template-columns: 1fr;
    }        

    .logo{
        height: 200px;
    }

    .quote{
        font-size: 1em;
    }
    
}



